@import 'tailwindcss';


@theme{
    --font-heading: 'Cinzel', serif;
    --font-body: 'Lora', serif;
    --color-bg-one: #E5E5E5;
    --color-bg-two: #F1F1F1;
    --color-prm: #bfa14a;
    --color-sec: #36454f;
}

@layer base{
    /* custom resets */
    html{
        box-sizing:border-box;
    }
    *, *::after, *::before{
        box-sizing:inherit;
    }
    body{
        margin:0;
        padding:0;
    }
    h1, h2, h3, h4, h5, h6, p{
        margin:0;
        letter-spacing:.2mm;
    }
}