@use "../partials/hub" as hub;

.hero{
    height:50dvh;
    width:100%;
    color:hub.$txt;
    @include hub.flex-box($space:space-evenly, $dir:column);
    &__package{
        height:40%;
        width:fit-content;
        padding-inline:.5rem;
        border-radius:.5rem;
        outline:2px solid hub.$pop;
        @include hub.flex-box($space:space-evenly, $dir:column);
        &-title{
            text-transform:capitalize;
        }
        &-amount{
            font-size:1.2rem;
        }
        &-details{
            text-decoration:underline 2px solid hub.$txt;
            font-size:1rem;
            color:inherit;
        }
    }
}

.calendar{
    height:50dvh;
    width:100%;
    background-color:hub.$prm;
    color:hub.$txt;
    padding-inline:.5rem;
    @include hub.flex-box($dir:column);
    &__title{
        color:hub.$bg;
        text-transform:capitalize;
        font-weight:700;
        height:1.5rem;
    }
    &__month{
        height:20%;
        width:100%;
        @include hub.flex-box();
        &-control{
            border:0;
            color:inherit;
            font-size:1.2rem;
            background-color:transparent;
        }
        &-input{
            border:0;
            border-radius:.5rem;
            height:2rem;
            text-align:center;
            font-weight:700;
        }
    }
    &__date{
        height:50%;
        width:100%;
        @include hub.flex-box();
        flex-wrap:wrap;
        &-items{
            $h: calc(100% / 5);
            height:$h;
            width:calc(100% / 7);
            font-size:1.1rem;
            font-weight:700;
            text-align:center;
            padding-top:.25rem;
            border-bottom:1px solid hub.$bg;
            border-right:1px solid hub.$bg;
        }
    }
}

.info{
    height:30dvh;
    width:100%;
    padding-inline:1rem;
    margin:0;
    color:hub.$txt;
    list-style:disclosure-closed inside;
    @include hub.flex-box($dir:column);
    &__title{
        font-weight:700;
        width:100%;
        text-align:start;
        margin:0;
        text-transform:capitalize;
    }
    &__link{
        color:inherit;
        font-style:italic;
    }
}



// scaling up to :768px
@media (min-width:768px){
    .hero{
        height:80dvh;
        @include hub.flex-box($dir:row);
        &__package{
            align-self:flex-end;
            margin-bottom:1.5rem;
        }
    }
    .calendar{
        &__month{
            width:min(100%, 400px);
        }
    }
}